# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# PORT=3002
# MODE=development #production / development
# PREFIX=api
# CORS=http://localhost:3000
# STORAGE_PATH=/public/

# DATABASE_URL="postgresql://esedusr:esedpwd@localhost:5432/esed?schema=public"

# CRYPT_SALT=10
# CRYPT_KEY="A9u08wYnDtAetB00XX8pRghVhq7GIxWeHhEX3w0e/Lw="

# JWT_ACCESS_TOKEN_SECRET=oznOAplf1BpZsHKm7uP7dN6kiN3KLxid
# JWT_ACCESS_TOKEN_EXPIRES_IN=15m

# COOKIE_DEVICE_KEY=_secure.session.deviceid
# JWT_REFRESH_TOKEN_SECRET=pZs7dkiP1BN3oznOKLxidAN6plfHKm7u
# JWT_REFRESH_TOKEN_AND_DEVICE_KEY_EXPIRES_IN=30d
# JWT_REFRESH_TOKEN_COOKIE_KEY=_secure.session.token

# ADMIN_USER=esedadm@admin.ru
# ADMIN_SHORTCUT=esedadm
# ADMIN_PASSWORD=HotUvMIRz8

# MANAGER_USER=esedmanager@admin.ru
# MANAGER_SHORTCUT=esedmanager
# MANAGER_PASSWORD=2FiRzPpTdp

# POSTGRES_USER=esedusr
# POSTGRES_PASSWORD=esedpwd
# POSTGRES_DB=esed


